@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
  }

  .smooth-edges {
    backface-visibility: hidden;
  }

  .animate-wave {
    animation: wave 2.5s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave {
    0%, 60%, 100% { transform: rotate(0deg); }
    10%, 30% { transform: rotate(14deg); }
    20%, 40% { transform: rotate(-8deg); }
    50% { transform: rotate(10deg); }
  }
}